In [1]:
import json

from requests import get
from bs4 import BeautifulSoup
from warnings import warn
from time import sleep
from random import randint
import numpy as np
import pandas as pd
import seaborn as sns
import requests
from pymongo import MongoClient
import json

In [2]:
headers = {'Accept-Language': 'en-US,en;q=0.8'} 

titles = []
years = []
ratings = []
genres = []
runtimes = []
imdb_ratings = []
imdb_ratings_standardized = []
director = []
star=[]
revenue=[]
votes =[]

In [3]:
pages = np.arange(1, 6000, 50)

In [4]:
for page in pages:
    response = get("https://www.imdb.com/search/title/?title_type=feature&num_votes=25000,&sort=user_rating,desc&"
                  + "start="
                  + str(page)
                  + "&ref_=adv_nxt", headers=headers)
  
    sleep(randint(8,15))
    if response.status_code != 200:
       warn('Request: {}; Status code: {}'.format(requests, response.status_code))
    page_html = BeautifulSoup(response.text, 'html.parser')
      
    movie_containers = page_html.find_all('div', class_ = 'lister-item mode-advanced')
    
    for container in movie_containers:

        #title
        title = container.h3.a.text
        titles.append(title)

        if container.h3.find('span', class_= 'lister-item-year text-muted unbold') is not None:
                
            
               #year released
            year = container.h3.find('span', class_= 'lister-item-year text-muted unbold').text # remove the parentheses around the year and make it an integer
            years.append(year)

        else:
            years.append(None) # each of the additional if clauses are to handle type None data, replacing it with an empty string so the arrays are of the same length at the end of the scraping

        if container.p.find('span', class_ = 'certificate') is not None:
            
             #rating
            rating = container.p.find('span', class_= 'certificate').text
            ratings.append(rating)

        else:
            ratings.append("")

        if container.p.find('span', class_ = 'genre') is not None:
            
                #genre
            genre = container.p.find('span', class_ = 'genre').text #.replace("\n", "").rstrip().split(',') # remove the whitespace character, strip, and split to create an array of genres
            genres.append(genre)
          
        else:
            genres.append("")

        if container.p.find('span', class_ = 'runtime') is not None:

             #runtime
            time = int(container.p.find('span', class_ = 'runtime').text.replace(" min", "")) # remove the minute word from the runtime and make it an integer
            runtimes.append(time)

        else:
            runtimes.append(None)

        if float(container.strong.text) is not None:

             #IMDB ratings
            imdb = float(container.strong.text) # non-standardized variable
            imdb_ratings.append(imdb)

        else:
            imdb_ratings.append(None)
            
        a=container.find_all('p')[2].text
        b=a.split('|')[0].split(':')[1]
        director.append(b)
        star.append(a.split('|')[1].split(':')[1])
    
        b=container.find('p', {"class":"sort-num_votes-visible"}).text.strip()
    
        votes.append(b.split('|')[0].split(":")[1])
        if len(b.split('|'))>1:
            revenue.append(b.split('|')[1].split(":")[1])
        else:
            revenue.append(None)

In [5]:
len(votes)

6000

# saving data to Mongo db

In [6]:
data_set1={
    'Titles':titles,
    'Years': years,
    'Genres': genres,
    'Revenue':revenue,
    'Ratings': ratings,
    'Imdb_ratings': imdb_ratings,
    'Votes':votes,
    'Star': star,
    'Director':director,
    'Runtime':runtimes
}

In [7]:
import csv
from pymongo import MongoClient
client = MongoClient('mongodb://localhost:27017/')
db = client['DAP2_DataBase']
collection3=db['Anand_data']
collection3.insert_one(data_set1)

In [8]:
client.list_database_names()

['DAP1_DataBase', 'DAP2_DataBase', 'DAP_DataBase', 'admin', 'config', 'local']

In [9]:
d2=client.DAP2_DataBase

In [10]:
d2

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'DAP2_DataBase')

In [11]:
d2.list_collection_names()

['Anand_data']

In [12]:
d1=db.Anand_data.find_one({})

In [13]:
list1=d1['Titles']
list2=d1['Years']
list3=d1['Genres']
list4=d1['Revenue']
list5=d1['Imdb_ratings']
list6=d1['Votes']
list7=d1['Director']
list8=d1['Star']
list10=d1['Runtime']
list9=d1['Ratings']

In [14]:
df=pd.DataFrame(list(zip(list1,list2,list3,list4,list6,list7,list8,list9,list10,list5)),columns=['Titles','Year',"Genre",'Revenue(Millions)','Votes','Director','Star','Certificate','Runtime','Rating'])

In [15]:
df.head()

,Titles,Year,Genre,Revenue(Millions),Votes,Director,Star,Certificate,Runtime,Rating
0,The Shawshank Redemption,(1994),\nDrama,\n$28.34M,"\n2,730,192\n",\nFrank Darabont\n,"\nTim Robbins, \nMorgan Freeman, \nBob Gunton,...",R,142.0,9.3
1,The Godfather,(1972),"\nCrime, Drama",\n$134.97M,"\n1,898,236\n",\nFrancis Ford Coppola\n,"\nMarlon Brando, \nAl Pacino, \nJames Caan, \n...",R,175.0,9.2
2,The Chaos Class,(1975),"\nComedy, Drama",None,"\n41,592",\nErtem Egilmez\n,"\nKemal Sunal, \nMünir Özkul, \nHalit Akçatepe...",,87.0,9.2
3,The Dark Knight,(2008),"\nAction, Crime, Drama",\n$534.86M,"\n2,703,269\n",\nChristopher Nolan\n,"\nChristian Bale, \nHeath Ledger, \nAaron Eckh...",PG-13,152.0,9.0
4,Schindler's List,(1993),"\nBiography, Drama, History",\n$96.90M,"\n1,378,570\n",\nSteven Spielberg\n,"\nLiam Neeson, \nRalph Fiennes, \nBen Kingsley...",R,195.0,9.0

In [16]:
df.index = np.arange(1, len(df) + 1)

# Explodatory Data Analysis

In [17]:
df["Year"]= df['Year'].str.replace(r'\(|\)', '', regex=True)

In [18]:
df['Votes'] = df['Votes'].str.replace(r'\n', '')
df['Votes'] = df['Votes'].str.replace(r',', '', regex=True)

C:\Users\jhaan\AppData\Local\Temp\ipykernel_11296\2482809136.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Votes'] = df['Votes'].str.replace(r'\n', '')

In [19]:
df['Revenue(Millions)'] = df['Revenue(Millions)'].str.replace(r'\n', '', regex=True)

In [20]:
df['Star'] = df['Star'].str.replace(r'\n', '', regex=True)
df['Director'] = df['Director'].str.replace(r'\n', '', regex=True)
df['Revenue(Millions)'] = df['Revenue(Millions)'].str.replace(r'\$|M', '', regex=True)

In [21]:
df['Genre'] = df['Genre'].str.replace(r'\n', '', regex=True)

In [22]:
df

,Titles,Year,Genre,Revenue(Millions),Votes,Director,Star,Certificate,Runtime,Rating
1,The Shawshank Redemption,1994,Drama,28.34,2730192,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",R,142.0,9.3
2,The Godfather,1972,"Crime, Drama",134.97,1898236,Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",R,175.0,9.2
3,The Chaos Class,1975,"Comedy, Drama",None,41592,Ertem Egilmez,"Kemal Sunal, Münir Özkul, Halit Akçatepe, Tari...",,87.0,9.2
4,The Dark Knight,2008,"Action, Crime, Drama",534.86,2703269,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",PG-13,152.0,9.0
5,Schindler's List,1993,"Biography, Drama, History",96.90,1378570,Steven Spielberg,"Liam Neeson, Ralph Fiennes, Ben Kingsley, Caro...",R,195.0,9.0
...,...,...,...,...,...,...,...,...,...,...
5996,Barb Wire,1996,"Action, Sci-Fi",3.79,30085,David Hogan,"Pamela Anderson, Amir AboulEla, Adriana Alexan...",R,98.0,3.5
5997,Scary Movie V,2013,"Comedy, Horror",32.02,73955,"Malcolm D. Lee, David Zucker","Simon Rex, Ashley Tisdale, Charlie Sheen, Lind...",PG-13,86.0,3.5
5998,Spy Kids 4: All the Time in the World,2011,"Action, Adventure, Comedy",38.54,26646,Robert Rodriguez,"Jessica Alba, Jeremy Piven, Joel McHale, Rowan...",PG,89.0,3.5
5999,Police Academy: Mission to Moscow,1994,"Comedy, Crime",0.13,34855,Alan Metter,"G.W. Bailey, George Gaynes, Michael Winslow, D...",PG,83.0,3.5
6000,The Emoji Movie,2017,"Animation, Adventure, Comedy",86.09,66880,Tony Leondis,"T.J. Miller, James Corden, Anna Faris, Maya Ru...",PG,86.0,3.4

In [23]:
print(df.dtypes)

Titles                object
Year                  object
Genre                 object
Revenue(Millions)     object
Votes                 object
Director              object
Star                  object
Certificate           object
Runtime              float64
Rating               float64
dtype: object

In [26]:
df['Year']=df['Year'].astype(int)

In [ ]:
df.to_csv('Imdb_data1.csv')

In [25]:
df["Year"]= df['Year'].str.replace(r'^\D*', '', regex=True)

In [27]:
df['Votes']=df['Votes'].astype(int)

In [28]:
df['Revenue(Millions)']=df['Revenue(Millions)'].astype(float)

In [29]:
df.to_csv('Imdb_dataset_+1.csv',index=False)

In [30]:
print("Number of  Rows", df.shape[0])
print("Number of Columns", df.shape[1])

Number of  Rows 6000
Number of Columns 10

In [ ]:
df.info()

In [ ]:
# save cleaned data into Postgresql

In [31]:
from sqlalchemy import create_engine
import psycopg2

In [32]:
pgconn=psycopg2.connect(
    host='localhost',
    user='postgres',
    port=5432,
    password='1234',
    database='postgres')

In [33]:
pgcursor=pgconn.cursor()

In [35]:
pgcursor.execute('CREATE DATABASE DAP_project_db')

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [36]:
pgconn.commit()

In [38]:
pgconn=psycopg2.connect(
    host='localhost',
    user='postgres',
    port=5432,
    password='1234',
    database='projec2_db')

In [39]:
pgcursor=pgconn.cursor()

In [40]:
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
pgconn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)

In [41]:
from sqlalchemy import create_engine

In [42]:
engine=create_engine('postgresql+psycopg2://postgres:1234@localhost/projec_db')

In [43]:
df.to_sql('my_table',con=engine,if_exists='replace',index=False)

1000

# EXTRACTING DATA FROM POSTGRESQL

In [44]:
df1=pd.read_sql('my_table',engine)

In [45]:
df1

,Titles,Year,Genre,Revenue(Millions),Votes,Director,Star,Certificate,Runtime,Rating
0,The Shawshank Redemption,1994,Drama,28.34,2730192,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",R,142.0,9.3
1,The Godfather,1972,"Crime, Drama",134.97,1898236,Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Diane Ke...",R,175.0,9.2
2,The Chaos Class,1975,"Comedy, Drama",NaN,41592,Ertem Egilmez,"Kemal Sunal, Münir Özkul, Halit Akçatepe, Tari...",,87.0,9.2
3,The Dark Knight,2008,"Action, Crime, Drama",534.86,2703269,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",PG-13,152.0,9.0
4,Schindler's List,1993,"Biography, Drama, History",96.90,1378570,Steven Spielberg,"Liam Neeson, Ralph Fiennes, Ben Kingsley, Caro...",R,195.0,9.0
...,...,...,...,...,...,...,...,...,...,...
5995,Barb Wire,1996,"Action, Sci-Fi",3.79,30085,David Hogan,"Pamela Anderson, Amir AboulEla, Adriana Alexan...",R,98.0,3.5
5996,Scary Movie V,2013,"Comedy, Horror",32.02,73955,"Malcolm D. Lee, David Zucker","Simon Rex, Ashley Tisdale, Charlie Sheen, Lind...",PG-13,86.0,3.5
5997,Spy Kids 4: All the Time in the World,2011,"Action, Adventure, Comedy",38.54,26646,Robert Rodriguez,"Jessica Alba, Jeremy Piven, Joel McHale, Rowan...",PG,89.0,3.5
5998,Police Academy: Mission to Moscow,1994,"Comedy, Crime",0.13,34855,Alan Metter,"G.W. Bailey, George Gaynes, Michael Winslow, D...",PG,83.0,3.5
5999,The Emoji Movie,2017,"Animation, Adventure, Comedy",86.09,66880,Tony Leondis,"T.J. Miller, James Corden, Anna Faris, Maya Ru...",PG,86.0,3.4